<!-- <ngx-products-list [productlist]="product$ | async"></ngx-products-list> -->
<nb-card>
  <nb-card-header> Danh sách mặt hàng </nb-card-header>
  <nb-list
    nbInfiniteList
    listenWindowScroll
    [threshold]="500"
    (bottomThreshold)="loadNext(data)"
    *ngIf="data.products.length > 0; else noData"
  >
    <nb-list-item *ngFor="let productitem of data.products">
      <ngx-products-item [product]="productitem"></ngx-products-item>
    </nb-list-item>
  </nb-list>

</nb-card>
<ng-template #noData>
  <p> Không có mặt hàng nào !</p>
</ng-template>
