<form>
  <div class="input-group">
    <p>Tên đăng nhập:</p>
    <input nbInput fullWidth class="form-control" />
  </div>

  <div class="input-group">
    <p>Mật khẩu:</p>
    <input nbInput fullWidth class="form-control" />
  </div>
  <div class="input-group">
    <p>Họ và tên:</p>
    <input nbInput fullWidth class="form-control" />
  </div>
  <div class="input-group">
    <p>Nhóm quyền:</p>
    <input nbInput fullWidth class="form-control" />
  </div>
  <br />
  <button type="submit" nbButton status="success" style="float: right">
    Thêm
  </button>
</form>
