@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../../@theme/styles/themes";
@include nb-install-component() {
  .chi-tiet-don-hang {
    display: flex;
  }
  .div-ct1 {
    width: 35%;
    display: flex;
  }
  .div-ct2 {
    padding-left: 10px;
    width: 65%;
    display: flex;
  }
  .txtKhuyenMai {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: red;
    font-family: Open Sans, sans-serif;
    font-style: italic;
    line-height: 1rem;
    margin-left: 0.5rem;
  }
  .titles {
    width: 25%;
  }
  .fields {
    width: 75%;
  }
  .fields input {
    margin-bottom: 5px;
  }
  input {
    text-align: center;
    padding: 0.1875rem 0.1875rem;
  }
  .soluong {
    min-width: 4rem;
    padding: 3px;
  }
  .tensanpham {
    min-width: 11rem;
  }
  .field-soluong {
    display: flex;
  }
  .ngancach {
    margin: auto;
  }
  .div-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .div-button {
    display: inline;
  }
  .btn1 {
    .btn-luu {
      float: right;
    }

    .btn-add {
      margin-right: 0.53rem;
    }
  }
  .table {
    display: table;
    width: 100%;

    font-size: 0.85rem;

    th,
    td {
      padding: 0.25rem 0.55rem;
      vertical-align: top;
      border: 1px solid nb-theme(border-basic-color-5);
    }

    thead > tr > th {
      text-align: center;
      vertical-align: middle;
    }

    tbody > tr > td {
      vertical-align: middle;
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    .chi-tiet-don-hang {
      display: block;
    }
    .div-ct1 {
      width: 100%;
      display: flex;
    }
    .div-ct2 {
      padding-left: 0px;
      width: 100%;
      display: flex;
    }

    .btn1 {
      margin: auto;
    }

    .btn-duyetKM {
      float: right;
    }

    .btn-luu {
      margin-top: 0.53rem;
      width: 100%;
    }
  }

  ::ng-deep .form-control {
    background-color: nb-theme(background-basic-color-1);
    border-color: nb-theme(background-basic-color-1);
    color: nb-theme(input-basic-text-color);
    font-size: 0.85rem;

    &::placeholder {
      color: nb-theme(input-basic-placeholder-text-color);
    }

    &:focus {
      background-color: nb-theme(input-basic-focus-background-color);
      border-color: nb-theme(input-basic-focus-border-color);
    }
    &:hover {
      background-color: nb-theme(input-basic-hover-background-color);
      border-color: nb-theme(input-basic-hover-border-color);
    }

    &:disabled {
      background-color: nb-theme(input-basic-disabled-background-color);
      border-color: nb-theme(input-basic-disabled-border-color);
      color: nb-theme(input-basic-disabled-text-color);

      &::placeholder {
        color: nb-theme(input-basic-disabled-placeholder-text-color);
      }
    }
  }
}
