@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../@theme/styles/themes";
@include nb-install-component() {
  .div-table {
    overflow-x: auto;
    height: calc(100vh - 6.5rem - 11.2rem);
    -webkit-overflow-scrolling: touch;
  }
  .table {
    display: table;
    width: 100%;

    font-size: 0.85rem;

    th,
    td {
      padding: 0.25rem 0.55rem;
      vertical-align: top;
      border: 1px solid nb-theme(border-basic-color-5);
    }

    thead > tr > th {
      text-align: center;
      vertical-align: middle;
    }

    tbody > tr > td {
      vertical-align: middle;
      text-align: center;
    }
  }
  td.ma-giao-dich:hover {
    color: red;
    cursor: pointer;
  }
}
